.product_simple {
  margin: 0 0 150px 0;
  @include media(lg) {
    margin: 0 0 120px 0;
  }
  @include media(sm) {
    margin: 0 0 100px 0;
  }
  @include media(xs) {
    margin: 0 0 80px 0;
  }

  &__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5;
    font-family: $font-montserrat;
    margin: 0 0 60px 0;
    text-align: center;
    @include media(sm) {
      font-size: 50px;
    }
    @include media(xs) {
      font-size: 36px;
      margin: 0 0 50px 0;
    }
  }

  &__list {
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-between;
    @include media(lg) {
      max-width: 865px;
    }
    @include media(md) {
      max-width: 768px;
    }
    @include media(sm) {
      max-width: 202px;
      flex-direction: column;
      justify-content: center;
    }

    > li {
      text-align: center;

      &:not(:last-child) {
        @include media(sm) {
          margin: 0 0 40px 0;
        }
      }

      p {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        padding: 0;
        margin: 0;
        display: block;
        max-width: 200px;
      }
    }

    &-number {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 0 0 15px 0;

      img {
        position: relative;
        z-index: 1;
        max-width: 165px;
      }

      span {
        position: absolute;
        z-index: 2;
        left: 0;
        color: #fff;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.5;
        font-family: $font-montserrat;
        left: 0;
        right: 0;
        top:0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

  }


}
