.footer {
  background: linear-gradient(90deg, #DF2751 0%, #EA6C82 100%);
  padding: 80px 0;
  @include media(sm) {
    padding: 50px 0 40px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    @include media(sm) {
      justify-content: flex-start;
      flex-direction: column;
    }

    &-left, &-right {
      @include media(sm) {
        width: 100%;
      }
    }

  }

  &__logo {
    margin: 0 0 60px 0;
    @include media(sm) {
      margin: 0 0 40px 0;
    }

    img {
      @include media(sm) {
        width: 180px;
      }
    }
  }

  &__phone,
  &__email {
    font-weight: 700;
    font-size: 24px;
    font-family: $font-montserrat;
    @include media(sm) {
      font-size: 18px;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &__phone {
    margin: 0 0 35px 0;
    @include media(sm) {
      margin: 0 0 30px 0;
    }
  }

  &__email {
    margin: 0 0 80px 0;
    @include media(sm) {
      margin: 0 0 40px 0;
    }
  }

  &__socials {
    display: flex;
    @include media(sm) {
      margin: 0 0 60px 0;
    }

    > li {

      &:not(:last-child) {
        margin: 0 30px 0 0;
      }

      a {
        position: relative;
        display: flex;
        align-items: center;

        &::after {
          $size: 6px;

          content: '';
          display: block;
          position: absolute;
          width: $size;
          height: $size;
          border-radius: 50%;
          background-color: #fff;
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.18s linear;
          opacity: 0;
          bottom: -16px;
        }

        &:hover {

          &::after {
            bottom: -12px;
            opacity: 1;
          }
        }
      }
    }
  }

  &__nav {
    text-align: right;
    @include media(sm) {
      text-align: left;
      margin: 0 0 30px 0;
    }

    &-list {
      position: relative;
      font-weight: 400;
      font-size: 16px;
      @include media(sm) {
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        max-width: 350px;
      }

      > li {
        display: block;
        color: #fff;
        @include media(sm) {
          width: 50%;
        }
        @include media(sm) {
          margin: 0 0 30px 0;
        }

        &:not(:last-child) {
          margin: 0 0 50px 0;
          @include media(sm) {
            margin: 0 0 30px 0;
          }
        }

        a {
          color: #fff;
        }
      }
    }
  }

  small {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: right;
  }

}

