.home_intro {
  padding: 100px 0 0 0;
  margin: 0;
  @media screen and (max-height: 640px) {
    padding: 60px 0 0 0;
  }
  @include media(lg) {
    padding: 80px 0 0 0;
  }
  @include media(sm) {
    padding: 50px 0 0 0;
  }
  @include media(xs) {
    padding: 20px 0 0 0;
  }

  &__row {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: calc(100vh - 100px);
    @media screen and (max-height: 640px) {
      height: calc(100vh - 60px);
    }
    @include media(lg) {
      height: auto;
    }
    @include media(md) {
      justify-content: flex-start;
      flex-direction: column;
    }

    &-text {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 670px;
      @include media(md) {
        position: static;
      }
      @include media(sm) {
        max-width: 350px;
      }
      @include media(xs) {
        max-width: none;
        text-align: center;
      }
    }

    &-preview {
      @include media(lg) {
        margin-top: 160px;
      }
      @include media(md) {
        margin-top: 20px;
      }
      @include media(xs) {
        margin-top: 80px;
      }
    }

  }

  &__title {
    font-size: 60px;
    margin: 0 0 60px 0;
    position: relative;
    z-index: 2;
    @include media(sm) {
      font-size: 50px;
    }
    @include media(xs) {
      font-size: 36px;
      max-width: 290px;
      width: 100%;
      text-align: left;
    }

    &::after {
      content: '';
      display: block;
      width: 180px;
      height: 110px;
      background: url("../images/home/fun.svg") center center no-repeat;
      background-size: contain;
      position: absolute;
      z-index: -1;
      bottom: -10px;
      left: 138px;
      @include media(sm) {
        left: 100px;
      }
      @include media(xs) {
        width: 134px;
        height: 82px;
        left: 70px;
        bottom: -14px;
      }
    }
  }

}
